version: '2'

services:
  pimcore-app:
    ports:
      - 9000:9000

  db:
    ports:
      - 3306:3306

  adminer:
    image: clue/adminer
    ports:
      - 1080:80

  redisCommander:
    image: tenstartups/redis-commander
    command: --redis-host redis
    ports:
      - "8081:8081"
